$bg-gradient-blues:         linear-gradient(to right, #56ccf2, #2f80ed);
$bg-gradient-burning:       linear-gradient(to right, #ff416c, #ff4b2b);
$bg-light-primary:          rgb(13 110 253 / .11);
$color-info:                #0dcaf0;
$color-primary:             #327ee5;